*{
    font-family: 'Oswald', sans-serif;

}


#header {
    background-color: rgb(1 1 1);
    height: 38px;
    z-index: 1;
    position: fixed;

}

#header .teck-header-text {
    text-align: center;
    color: rgb(255 255 255);
    font-family: poppins;
    font-size: 16px;
    padding-top: 10px;
}

#home-page #teck-nav-menu {
    background-color: #161717;
}

#manuItem {
    background-color: #161717 !important
}


.ant-drawer-body,
.ant-drawer-header,
.ant-drawer-title,
.ant-drawer-header-title,
.anticon-close {
    background-color: #161717;
    color: white !important;
}

#nav-item {
    text-align: center;
    font-size: 20px;
    font-family: 200px;
    
}

#nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

#nav-item:hover:after {
    width: 100%;
    background: white;
    text-decoration: none;
    
}

#nav-item.active {
    text-decoration: none;
    /* color: #ffdd40; */
    /* border: 1px solid #ffdd40; */
    /* color: skyblue; */
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 50vh;
    background-color: var(--color-secondary);
    background-color: #161717;
    background-size: cover;
    background-position: center;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 9%;
}
/* @media (max-width: 575px) {
    .hero{
        margin-top: -15%;
    }
} */

.hero h2 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 575px) {
    .hero {
        margin-top: 40%;
    }

    .hero h2 {
        font-size: 30px;
    }
}

