.sssf{
    font-size: 3rem;
}
.tt{
    margin: none;
}
.navbar{
    border: 1px solid #808080;
}
.ee{

    border: 1px solid #808080;

}
.sssss{
    max-width: 40rem;
}
.oolol{
    font-size: 1.4rem;
}
.secondpart{
    display: flex;
    margin-top: 100px
}
.secondpartert{
    
    display: flex;
}