*{
  font-family: 'Ubuntu', sans-serif;
}


.mmmmiok{
    background: #161717;
    height: max-content;
    color: whihte;
padding-bottom: 40px;
}
.mmnnhhyy{
    
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-around;
    min-height: 70px;
    /* border: 1px solid black; */
    /* border: 1px solid white; */
    background: #161717;
    /* margin-top: 20px; */
    /* background-color: red; */
    max-width: 100vw;
}
.setrtmn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sasaasjmj{
    position: relative;
    /* right: 100px; */
}
.mmqqoop{
    /* border: 1px solid white; */
    background: #161717;
    display: flex;
    justify-content: center;
    height: max-content
}
.iiyytt{
    /* border: 1px solid white; */
    /* position: relative;
    left: 120px; */
    position: relative;
    /* right: 90px; */
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
padding-right: 30px;
text-align: start;
    align-items: flex-start;
    
}
.fgd{
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}
.mkjbbf{
    /* width: 400px;
    color: white; */
}
.mkjbbfss{
    padding-left: 20px;
    color: white;
}
.awdw{
    font-size: 1.1rem;
}

.iutrvh{
    margin-top: 40px;
    margin-left: 20px;
    background-color: #161717; /* Green */
    border: none;
    color: white;
    border: 1px solid white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.ffmmkklloo{
    margin-right: 10px;
    max-width: 20rem;
    height: 100%;
}
.sadcasdac{
    max-width: 20px ;
    height: max-content;
}
.rtfsecond{
    padding: 40px 0px;
    max-width: 50vw;
    /* height: 20rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.mjhgre{
    font-size: 3rem;
    margin-bottom: 20px;
}
.tyhvf{
    font-weight: bold;
}


@media (max-width:602px)
{
.product{
  flex-wrap: wrap;
}
}


.ghdsaaaasa{
    max-width: 100vw;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.head1bg{
    font-size: 3rem;
}
.head3bg{
    padding-top: 20px;
    font-size: 1.5rem;

}
.fifth{
    background-image: url(../assets/images/about-img.png);
    max-width: 100vw;
    margin-bottom: 100px;
    background-color: #161717;
    background-repeat: no-repeat;
}

.bsafdjaus{
    font-size: 3rem;
    color: white;
    margin: 70px 0px;
}
.nono{
    margin-left: 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.mokli{
    width: 50vw;
}
.fokli{
    margin-left: 100px;
    width: 50vw;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

}
.eflsonkkh{
    margin-left: 80px;
    margin-bottom: 30px;
    display: flex;
}
.msahduasduasb{


  right: 84px;
  width: 581px;
  height: 600px;
  background: url(../assets/images/Rectangle-img.jpg);
  height: 17rem;
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  position: relative;
  top: 50px;
  right: 84px;
  top: 90px;
border-radius: 20px;
position: relative;
}
/* /assets/images/about-img.png */
.hjsgaisa33{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.headfill{
    font-size: 4rem;
}
.headfill2{
    font-size: 1.2rem;

}
.jkloun{
    max-width: 60rem;
}
.zxczxczx{
    margin-right: 18px;
    /* border: 1px solid black; */
}
.cng{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
.zxczsaasamnj{
    margin: auto;
    max-width: 70vw;
    padding: 60px 0px;
    display: flex;
    align-items: center;
}
.vfghj{
    margin-top: 100px;
    /* border-bottom:2px solid black ; */
}
.tyu{
    font-size: 2rem;
    font-weight: bold;
}
.czczxczxnn{

    margin-top: 20px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border: none;
}
.mnjgjv{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    justify-content: center;
    /* border: 1px solid black; */
}
.kmigj{
    font-size: 1.5rem;
}

  .nonoonasdb{
    position: relative;
  }
  .dsfdsmkbnj{
    border: 1px solid black;
  }
  .item:hover{
    transform: scaleX(400px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .notcallhonkdfs{
    flex-basis: 21%;
  }
  .khasndj5bd{
    background-color: #161717;
    color: white;
    font-size: 1.5rem;
    max-width: 20%;
  text-align: left;
  display: flex;
  justify-content: center;
  }
  .rfvbhi{
    margin-bottom: 20px;
  }
  .settermji{
    display: none;
    position: relative;
    right: 600px;
  }
  .filterqwe:hover.settermji{
    display: block;
  }

  .versetter{
    color: white;
    margin-left: 7rem;
    width: 400px;
    font-size: 1rem;
  }


  #container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: teal;
    display: grid ;
    place-items: center
  }
  
  #slider-container {
    height: 300px;
    width: 85vw;
    max-width: 1400px;
    background: #54d5e4;
    box-shadow: 5px 5px 8px gray inset;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  #slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid pink;
    border-top: 8px solid pink;
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
  }
  
  #slider-container #slider .slide {
    height: 90%;
    margin: auto 10px;
    background-color: #a847a4;
    box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
    display: grid;
    place-items: center;
  }
  
  #slider-container #slider .slide span {
    color: white;
    font-size: 150px;
  }
  
  @media only screen and (min-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }
  
  }
 

  .oikl{
    position: relative;
    bottom: 150px;
  }