.OuterDivFillUo{
    display: flex;
    align-items: center;
}
.secondHead{
    font-size: 2.4rem
}
.edcvfr{
    /* border: 1px solid black; */
    background-color: #F1F1F1;
    width: 25rem;
padding: 10px 90px;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    flex-direction: column;
}
.VButoontherS{
    border: none;
    background-color: #ffffff; /* Green */
    color: rgb(0, 0, 0);
    padding: 10px 32px;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 40px  40px; 
    font-size: 16px;
    margin-right: 12px; 
}
.VButoontherS:hover{
    background-color: #000000; /* Green */
    color: rgb(255, 255, 255);
  }
  .setHeadSizemko{
    font-size: 1.4rem;
    font-weight: 400;
  }
  .toponessssmko{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
border-radius:30px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 40px 30px;
    width: 50%;
  }





  @media screen and (max-width:   852px) {
    .toponessssmko{
        width: auto;
    }
  }
  /* @media screen and (max-width:   443px) {
    .toponessssmko{
        width: 200px;
    }
  } */
  @media screen and (max-width:   480px) {
    .edcvfr{
      width: 19rem;
    }
  }





